@media screen and ( max-width: 1090px )
    
    .menu
        &__right
            margin-right: 2%
    .hero
        background: none

        &__text
            margin-right: 3%
            margin-left: 3%
    .modal
        display: none
    .dignities
        width: 100%
    .slider
        margin-left: 5%
    .advantages
        &__content
            display: flex
            flex-direction: column
            flex-wrap: wrap
            min-height: 995px
    .factory
        &__content
            display: flex
            flex-direction: column
            justify-content: center
            margin: auto
        &__text
            margin: auto
            padding: 0
    .slider
        margin: auto
    .about
        &__content
            margin-left: 3%
            margin-right: 3%
@media screen and (max-width: 820px)
    .factory
        &__content
            display: flex
            flex-direction: column
            justify-content: center
    .show
        &__video
            display: flex
            justify-content: center
            align-items: center
            margin: 0
    .assumptionmodal
        &__form
            flex-direction: column
            justify-content: center
            margin: auto
    .input
        &__assumption
            margin-right: 0
            margin-top: 10px
        &__assumptionlast
            margin-right: 0
            margin-top: 10px
            