@media screen and ( max-width: 1090px )
    
    .menu
        &__right
            margin-right: 2%
    

        &__text
            margin-right: 3%
            margin-left: 3%
    
    .dignities
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        margin: auto
        max-width: 636px
        img
            
            margin: auto
            margin-top: 20px
    .slider
        margin-left: 5%
    .modal
        margin-bottom: 110px
    .advantages
        &__content
            display: flex
            flex-direction: column
            flex-wrap: wrap
            min-height: 995px
    .factory
        &__content
            display: flex
            flex-direction: column
            justify-content: center
            margin: auto
        &__text
            margin: auto
            padding: 0
    .slider
        margin: auto
    .about
        &__content
            margin-left: 3%
            margin-right: 3%
@media screen and (max-width: 820px)
    .header
        max-height: 60px
    .logo
        max-width: 20%
    .hero
        background: url('../img/herobgmobile.jpg')  no-repeat center
    .menu
        &__midle
            margin-top: 10px
        &__right
            margin-top: 6px
    .modal
        display: none
    
    .factory
        &__content
            display: flex
            flex-direction: column
            justify-content: center
    .show
        background: none
        display: flex
        justify-content: center
        &__title
           padding-top: 0
        &__video
            display: flex
            justify-content: center
            align-items: center
            margin: auto
    .assumptionmodal
        &__form
            margin-left: 30%
            margin-right: 30%
            flex-direction: column
            justify-content: center
            margin: auto
        &__modal
            margin: auto

    .input
        &__inputmidle
            margin-right: 0
            margin-left: 0
            margin-bottom: 6px
    .input
        &__assumption
            width: 251px
            height: 45px
            
            border-radius: 5px
            border: none
        &__assumptionlast
            width: 251px
            height: 45px
            border-radius: 5px
            border: none
        &-groupass
            &--name
                position: relative
                &::after
                    content: url('../img/hero/name.png')
                    position: absolute
                    z-indexe 9
                    top: 15px
                    right: 11px
            &--email
                position: relative
                &::after
                    content: url('../img/hero/post.png')
                    position: absolute
                    z-index: 9
                    top: 15px
                    right: 11px
            &--phone
                position: relative
                &::after
                    content: url('../img/hero/mobile.png')
                    position: absolute
                    z-index: 9
                    top: 15px
                    right: 11px
    .factory
        background: $bg 
        &__text
            margin-top: 20px   
    .about 
        background: url('../img/aboutbgmobile.jpg') center no-repeat
@media screen and (max-width: 720px)
    .show
        min-height: 375px
        &__title
            margin-top: 10px
        &__container
            margin: auto
            width: 422px
            height: 278px
        &__video
            position: relative
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            border-radius: 5px solid #ffffff
            margin: auto
            
            background: url('../img/video-down.jpg') no-repeat center
            &::after
                content: url('../img/play-icon2.png')
                position: absolute
                bottom: 7px
                left: 10px
    .photo
        display: none
    .slider
        max-width: 450px
    .swiper-button-prev
        left: 172px
    .swiper-button-next
        right: 172px
@media screen and (max-width: 520px)
    .hero
        &__title
            font-size: 36px
        &__subtitle
            font-size: 20px
    .title
        font-size: 22px
    .fuctory
        &__up
            font-size: 12px
    .menu__midle
        display: none
    .logo
        max-width: 73%
    .factory
        &__content
            max-width: 300px
    .slider
        max-width: 300px
        max-height: 180px
    .swiper-button-prev
        left: 99px
    .swiper-button-next
        right: 99px
    .show
        &__title
            font-size: 22px
        &__container
            max-width: 300px
            height: 200px
        &__video
            width: 300px
            height: 200px
            background: url('../img/video-mobile.jpg') no-repeat center
            &::after
                content: url('../img/play-icon2.png')
                position: absolute
                bottom: 3px
                left: 10px
    .advantages
        &__titlecard
            font-size: 13px
        &__text
            font-size: 12px
    .about
        background: none
        background-color: $bg
        &__slider
        z-index: 200
        margin-top: 10px
        margin: auto
        max-width: 
        
        border: 0px solid $white
        &__video
            background: url('../img/video-mobile.jpg') no-repeat center
            height: 200px
            width: 300px
            
            border-radius: 5px
            &::after
                content: url('../img/play-icon2.png')
                position: absolute
                bottom: 3px
                left: 65px
    .assumption
        &__title
            font-size: 22px
    .map
        
        &__container
           
