.about
    background: url('../img/aboutbg.jpg') center no-repeat
    background-color: $bg
    padding-bottom: 40px
    &__text
        margin-top: 0px
        max-width: 1000px
        font-family: Roboto
        font-size: 14.5px
        font-weight: 300
        line-height: 21px
        color: $black
        margin-bottom: 20px
    &__midle
        margin: 10px 0 10px
        font-weight: bold
    &__content
        display: flex
        justify-content: center
        flex-direction: column
    &__slider
        z-index: 200
        margin-top: 10px
        margin: auto
        min-height: 267px
        max-height: 267px
        max-width: 419px
        border: 5px solid $white