.factory
    background: $bg url('../img/factorybg.jpg') center no-repeat
    
    &__title
        
    &__content
        display: flex
    &__text
        max-width: 378px
        padding: 26px 3px 14px 13px
    &__up
        color: $black
        font-family: 'Roboto', sans-serif
        font-size: 15px
        font-weight: 300
        line-height: 23px
        padding-bottom: 30px 
.slider
    width: 566px
    height: 334px
    
    margin-bottom: 60px
.swiper
    &-navigation
        
    &-pagination

        &-bullet
            left: 50%
            margin: 0 2px
            background-color: $white
            &-active
                background-color: $red
    &-button
        &-prev, &-next
            
            top: 327px  
            width: 7px
            height: 13px
            font-size: 13px
            color: $white
            &::after
                display: none
        &-prev
            z-index: 100
            left: 40%
            background: url('../img/arow-prev.svg') center no-repeat
        &-next
            left: 60%
            background: url('../img/arow-next.svg') center no-repeat
.swiper-container-horizontal>.swiper-pagination-bullets
    
    bottom: 19px
        