.factory
    background: url('../img/factorybg.jpg') center no-repeat
    
    &__title
        
    &__content
        display: flex
    &__text
        max-width: 378px
        padding: 34px 0px 30px 46px
    &__up
        color: $black
        font-family: 'Roboto', sans-serif
        font-size: 15.5px
        font-weight: 300
        line-height: 23px
        padding-bottom: 30px 
.slider
    width: 566px
    height: 334px
    background-color: #d1c05e
    margin-bottom: 60px
