.hero
    background: url('../img/herobg.jpg') center no-repeat
    margin-bottom: 67px
    &__img
        z-index: 1
    &__text
        padding-top: 46px
    
    &__title
        text-transform: uppercase
        color: #7d3803
        font-family: 'Roboto Condensed', sans-serif
        font-size: 46px
        font-weight: bold
        text-align: center
        line-height: 44px
    &__subtitle
        text-transform: uppercase
        color: $boroy
        font-family: 'Roboto Condensed', sans-serif
        font-size: 22px
        font-weight: bold
        text-align: center
        line-height: 34px
    &__content
        display: flex
        align-items: flex-end
        justify-content: space-between

.dignities
    display: flex
    align-items: flex-end
    justify-content: space-around
    min-width: 636px
    min-height: 522px
.modal
    width: 301px
    height: 371px
    background-color: $red
    
    