.photo
    
    max-height: 400px
  
    &__content
        position: relative
        max-width: 321px
        max-height: 200px
    img
        height: 100%
        width: 100%
        position: relative
        
            
    &__container1
        display: flex
    &__container2
        display: flex
.descr
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    color: rgba(0,0,0,.05)