.show
    
    min-height: 589px
    background: url('../img/showbg.jpg') center no-repeat
    &__video
        width: 621px
        height: 396px
        border: 5px solid #ffffff
        float: right
        
    &__img
        width: 100%